<h1>BMI Calculator</h1>
<p>Sign with us and get your BMI index</p>

<%= form_with scope: :user, url: '/users/confirm', local: true do |form| %>
  <p>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password%>
    <%= form.password_field :password%>
  </p>

  <p>
    <%= form.submit :"Log In"%>
  </p>
<%end%>

<%= link_to 'SignIn if you have not an account yet', signin_path%>
