<div class = "container">
  <div class="center-align">
    <h1>BMI Calculator</h1>
    <h5>Sign with us and get your BMI index</h5>
  </div>

  <%= form_with scope: :user, url: '/login', local: true do |form| %>

    <% if @user.errors.any?%>
      <div class="error">
        <h2>
          <%= pluralize(@user.errors.count, "error")%>
          Something happened wrong trying to Log In.
        </h2>

        <ul>
          <% @user.errors.full_messages.each do |msg|%>
            <li><%= msg%></li>
        <%end%>
        </ul>
      </div>
    <%end%>

    <p>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </p>

    <p>
      <%= form.label :password%>
      <%= form.password_field :password%>
    </p>

    <button class="btn indigo darken-4 hoverable", type="submit">
      Log In
    </button>
  <%end%>

  <%= link_to 'SignIn if you have not an account yet', signin_path%>
</div>
