<% if logged_in? %>
  <div class="container">

    <%= link_to 'Log out', '/logout', method: :delete%>

    <div class="center-align">
      <h2>Calculates your Body Mass Index (BMI)</h2>
      <h6> Just input your height (in meters) and your weight (in kilogrames) </h6>
    </div>

    <%= form_with scope: :bmi, url: '/index' ,local: true do |form| %>
      <p>
      <%= form.label :height %>
      <%= form.text_field :height %>
      </p>

      <p>
      <%= form.label :weight%>
      <%= form.text_field :weight%>
      </p>

      <button class="btn indigo darken-4 hoverable">
        Calculate BMI
      </button>
    <%end%>

    <label class="black-text"><%= @message%></label>
  </div>
<%end%>
